:root {
    --taskHeight: 45px;
}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    background: none;
    width: 15px;
}
  
/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar-thumb {
    background-color: #8a4848;
    border-radius: 10px;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 400px;
    max-width: 90vw;
}

#addTaskInput, .taskItem {
    padding: 10px 15px;
    height: var(--taskHeight);
    width: 100%;
}
#addTaskInput {
    background-color: #2b2b2b;
    border: none;
    color: #c9c9c9;
    border-radius: 7px;
}
#addTaskInput:focus {
    outline: none;
}

#taskList {
    margin-top: 20px;
    width: 100%;
    height: calc(var(--taskHeight)*5);
    overflow-y: auto;
    background: #2b2b2b;
    border-radius: 7px;
}

.taskItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #666363;
    color: #b1b1b1;
}
#taskList li:last-child {
    border-bottom: none;
}
.taskItem p {
    word-break: break-all;
}
.taskItem div {
    display: flex;
    gap: 7px;
}
.taskItem div svg {
    cursor: pointer;
}

.editTaskInput {
    background-color: transparent;
    border: none;
    padding: 10px 0;
    width: 100%;
}
